.header_top {
  width: 90%;     
  height: 10%; 
     
  /* background-color: #25B33f; */
  margin-bottom: 0px;
  background-image: url(header1.jpg);
  background-size:cover;
}

li {
  color: white;
  font-size: 25px;
}

.full_content{
  width:90%;
  height: 70%;
  background:url(content.png) no-repeat center center; 
  color: white;

  background-size:cover;
}

body, html {
  height: 100%;
}
